/* Comentarios en CSS */

/*body {
    background-color: rgba(25, 178, 216, 0.76);
}
*/

body {
  background-color: lightblue;
  color: orange;
}

h1 {
    color: white;
    margin:20px 10px 30px 10px;
    font-size: 36px;
}

p {
    margin-left: 30px;
    color: darkblue;
    border: solid;
    border-color: green;
    border-radius: 10%;
}