/* Ejemplo de hoja de estilo */

/* Estilo para el cuerpo del HTML */
body {
    background-color: lightgoldenrodyellow;
  }
  
  /* Estilo para las etiquetas de tipo h1 */
  h1 {
    color:orangered;
  }
  
  /* Estilo para los párrafos */
  p {
    color: red;
  }